extends public_layout

block content
    div.login-form-wrapper
        div.login-form-wrapper__title
            img(src = "img/tail_tv_icon.png", alt = "logo_icon", class = "app-logo")
            h1.title TailTV | Login
        
        if (error)
            div.error-msg-wrapper
                span(class = "error-msg") #{error}
        form(action = "/login", method="post")
            div.form-group
                input(type = "text", name = "email", placeholder = "Email",
                    class = (error ? 'form-control form-control--error' : 'form-control')
                )
            div.form-group
                input(type = "password", name = "password", placeholder = "Password"
                    class = (error ? 'form-control form-control--error' : 'form-control')
                )
            div.form-group__submit
                button(type = "submit", class = "btn btn--success btn--md btn--login") Log in
                a(class = "btn btn--primary btn--md" href = "/signup") Register

script(src='/js/show.js')
