extends public_layout

block head

block content
    div.login-form-wrapper
        h1 TVShow Tracker | Login
        
        form(action = "/login", method="post")
            div.form-group
                label Email
                input(type = "text", class = "form-control", name = "email", placeholder = "Email")
            div.form-group
                label Password
                input(type = "password", class = "form-control", name = "password", placeholder = "Password")
            button(type = "submit", class = "btn btn--success btn--login m-t--10") Login
            a(class = "btn btn--primary m-t--20" href = "/signup") Register account

script(src='/js/show.js')
