extends public_layout

block content    
        block content
            div.login-form-wrapper
                a(class = "login-form-wrapper__title" href = "/")
                    img(src = "img/tail_tv_icon.png", alt = "logo_icon", class = "app-logo")
                    h1.title TailTV | Register
                    
                form(action = "/signup", method="post")
                    div.form-group
                        input(type = "text", class = "form-control", name = "email", placeholder = "Email")
                    div.form-group
                        input(type = "password", class = "form-control", name = "password", placeholder = "Password")
                    div.form-group
                        input(type = "password", class = "form-control", name = "password_repeat", placeholder = "Confirm Password")
                    div.form-group__submit
                        button(type = "submit", class = "btn btn--primary btn--register") Register
        
        script(src='/js/show.js')
